@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles/globals.css */

@font-face {
  font-family: "Clash Display";
  src: url("/fonts/clash-display/clash-display-regular.woff2") format("woff2"),
    url("/fonts/clash-display/clash-display-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Clash Display";
  src: url("/fonts/clash-display/clash-display-bold.woff2") format("woff2"),
    url("/fonts/clash-display/clash-display-bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: "Clash Display", sans-serif;
}
